{% extends 'base.html.twig' %}

{% block title %} Modifier Mot de Passe {% endblock %}

{% block body %}
    <div class="page-wrapper">
        <main class="main banners-page">
        </main>
    </div>
    <main class="main">
        <div class="page-header" style="background-image:url({{ asset('image/banner/profil.png') }}) ;background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="container d-flex flex-column align-items-center ">
                <br><br><br><br>
                <div class=" appear-animation d-flex flex-column align-items-center justify-content-center text-center h-100 mt-5" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="350" data-appear-animation-duration="350" >
                    <h2 class="text-black font-weight-bold text-12-4 mb-3 appear-animation word-rotator font-weight-semi-bold clip is-full-width " data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
                        <span>Bienvenue </span>
                        <span class="word-rotator-words">
                                <b class="is-visible text-uppercase"> {{ app.user.firstName }}</b>
                                <b class=" text-uppercase">{{ app.user.firstName }} {{ app.user.lastName }}</b>
                                <b class=" text-uppercase"> {{ app.user.lastName }} {{ app.user.firstName }} Chez Nous</b>
                            </span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="container account-container custom-account-container">
            <div class="row">
                <div class="sidebar widget widget-dashboard mb-lg-0 mb-3 col-lg-3 order-0">
                    <h4 class="text-uppercase">Mon compte</h4>
                    <ul class="nav nav-tabs list flex-column mb-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link "  href="{{ path('account_profil') }}">Mes information</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('editerprofil') }}">Modifier Mes informations</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('user_password') }}">Modifier Mot de Passe</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mescommande') }}">Mes demandes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('historique') }}">Historique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('account_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 order-lg-last order-1 tab-content">
                    <div class="tab-pane fade show active" id="dashboard" role="tabpanel">
                        <h3 class="account-sub-title  d-md-block mt-0 pt-1 ml-1"><i
                                    class="icon-pulley  align-middle mr-3 pr-1"></i>Modifier Mot de Passe</h3>
                        <div class="account-content">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="acc-name">Ancien mot de passe</label>
                                        {{ form_row(form.oldPassword) }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="acc-lastname">Nouveau mot de passe</label>
                                        {{ form_row(form.newPassword) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="acc-name">Confirmez votre mot de passe</label>
                                        {{ form_row(form.confirmPassword) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class=" btn-primary btn ">Modifier</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5"></div>
    </main>
{% endblock %}


