<html>
<script src="{{ asset('css/jquery.min.js') }}"></script>
<body>
<div style="    display: flex;     justify-content: center;" >
<div style="
    border: 3px solid black;
width: 19%;
    padding: 3%;
">
<h1>Log files </h1>
  {% for file in finder %}
   {% if ('.oodrive' in file.fileName != 1 ) and ('.mandrill' in file.fileName != 1 )  %}
  <div style="    margin-bottom: 5%;">
  <a href="{{ path('downloadLogFile', { 'name': file.fileName }) }}">{{file.fileName}}</a>
  </div>
 {% endif %}
 {% endfor %}
</div>
<div style="
    border: 3px solid black;
   width: 19%;
    padding: 3%;
        margin-left: 34px;
">

<h1>Mandrill Log files </h1>
  {% for file in finder %}
    {% if ('.mandrill' in file.fileName == 1 )  %}
  <div style="    margin-bottom: 5%;">
  <a href="{{ path('downloadLogFile', { 'name': file.fileName }) }}">{{file.fileName}}</a>
  </div>
    {% endif %}
 {% endfor %}
</div>
<div style="
    border: 3px solid black;
  width: 18%;
    padding: 3%;
        margin-left: 34px;
        
">
<h1>Oodrive Log files </h1>
  {% for file in finder %}
   {% if ('.oodrive' in file.fileName == 1 )  %}
  <div style="    margin-bottom: 5%;">
  <a href="{{ path('downloadLogFile', { 'name': file.fileName }) }}">{{file.fileName}}</a>
  </div>
  {% endif %}
 {% endfor %}
</div>
</div>
</body>
</html>